{% extends 'pages/users/login_and_registeration_base.html' %}
{% load static %}

<!-- Page Title -->
{% block title %}Registeration | Elsherbiniy ImageBox{% endblock title %}

<!-- Current Page Style -->
{% block currentPageStyles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/authentication/form-1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms/theme-checkbox-radio.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms/switches.css' %}" />
{% endblock currentPageStyles %}


<!-- Body Content-->
{% block body %}

        <div class="form-container">
            <div class="form-form">
                <div class="form-form-wrap">
                    <div class="form-container">
                        <div class="form-content">

                            <!-- Page Title -->
                            <h1 style="font-size: 1.5rem;">Get started with
                                <a href="{% url 'Login'%}" style="display: block; font-size: 2rem; font-weight: 800;">
                                    <span class="brand-name">ELSHERBINIY 
                                        <span style="font-weight: 900;">IMAGEBOX</span>
                                    </span>
                                </a>
                            </h1>
                            
                            <p class="signup-link">Already have an account? <a href="{% url 'Login' %}">Login</a></p>
                            <form class="text-left" method="POST">
                                <div class="form">
                                    
                                    <!-- SQL INJECTION SECURITY LEVEL -->
                                    {% csrf_token %}

                                    <!-- ======================  Start Form Inputs -->

                                    <!-- First name input -->
                                    <div id="firstname-field" class="field-wrapper input">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <input id="id_first_name" name="first_name" type="text" class="form-control" placeholder="First name">
                                    </div>

                                    <!-- Username Input -->
                                    <div id="username-field" class="field-wrapper input">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <input id="id_username" name="username" type="text" class="form-control" placeholder="Username">
                                    </div>

                                    <!-- Email Input -->
                                    <div id="email-field" class="field-wrapper input">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-at-sign"><circle cx="12" cy="12" r="4"></circle><path d="M16 8v5a3 3 0 0 0 6 0v-1a10 10 0 1 0-3.92 7.94"></path></svg>
                                        <input id="id_email" name="email" type="text" value="" placeholder="Email">
                                    </div>

                                    <!-- Password 1 Input -->
                                    <div id="password-field" class="field-wrapper input mb-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                        <input id="id_password1" name="password1" type="password" value="" placeholder="Password">
                                    </div>

                                    <!-- Password 2 Input -->
                                    <div id="password-field" class="field-wrapper input mb-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                        <input id="id_password2" name="password2" type="password" value="" placeholder="Confirm password">
                                    </div>

                                    <!-- ====================== End Form Inputs -->

                                    <!-- Show Password Button -->
                                    <div class="d-sm-flex justify-content-between">

                                        <!-- Show Password -->
                                        <div class="field-wrapper toggle-pass">
                                            <p class="d-inline-block">Show Password</p>
                                            <label class="switch s-primary">
                                                <input type="checkbox" id="toggle-password" class="d-none">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>

                                        <!-- Submit BUtton -->
                                        <div class="field-wrapper">
                                            <button type="submit" class="btn btn-primary" value="">Create account</button>
                                        </div>
                                        
                                    </div>


                                </div>
                            </form>                        
                            <p class="terms-conditions">© 2021 All Rights Reserved for <a href="index.html">El-sherbiniy</a></p>

                        </div>                    
                    </div>
                </div>
            </div>
            <div class="form-image">
                <div class="l-image" style="background-image: url('/static/img/Image_Box_2.svg'); background-size: 100%;">
                </div>
            </div>
        </div>


{% endblock body %}


<!-- Current Page Scripts Files -->
{% block currentPageScripts %}

    <!-- Form Script -->
    <script src="{% static 'js/authentication/form-1.js' %}"></script>

{% endblock currentPageScripts %}